{% extends 'base.html' %}
{% block title %}
Edit
{% endblock title %}
{% block body %}
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="color:White">
      <h1 class="display-4">Edit Active PO</h1>
      <p class="lead">Hey {{request.user}}!! please type in PO number to Edit</p>
    </div>
  </div>
<form "form-horizontal" method="post" action="/edit">
    {% csrf_token %}
    <div class="container mb-3 py-4 w-50"> 
    <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="AMC PO Number" id="search_PO" name="search_PO" />
        <button type="submit" class="btn btn-primary">search</button>
    </div>
    </div>
</form>
{% endblock body %}