{% extends 'base.html' %}
{% block title %}
New
{% endblock title %}
{% block body  %}
<br>
<div class="container mb-3 py-4 w-75" style="border:5px solid LightGray;background-color:HoneyDew;"> 
  <h1 class="text-center" style="border:2px solid DodgerBlue; background-color:hsla(9, 50%, 64%, 0.5);"> New AMC PO </h1>
  <br>
    <form "form-horizontal" method="post" action="/new">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col">
        <label>Project:</label>
        <select class="form-select form-select-lg mb-3" style="background-color:AliceBlue;" aria-label=".form-select-lg example" name="project">
        <option selected value=0>--Project--</option>
        {% for result in project_table%}
        <option value={{result.id}}>{{result.name}}</option>
        {% endfor %}
        </select>
      </div>
      <br>
      <div class="col">
        <label>Vendor:</label>
        <select class="form-select form-select-lg mb-3" style="background-color:AliceBlue;" aria-label=".form-select-lg example" name="vendor">
        <option selected value=0>--Vendor--</option>
        {% for result2 in vendor_table%}
        <option value={{result2.id}}>{{result2.name}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <br>
      <div class="row g-3">
        <div class="col">
        <label class="control-label col-sm-2" for="PO">PO</label>
        <input type="text" style="background-color:AliceBlue;" class="form-control" id="PO" name="PO" placeholder="123456789">
      </div>
      <div class="col">
        <label class="control-label" for="oldPO">OLD AMC PO/Supply PO</label>
        <input type="text" style="background-color:AliceBlue;" class="form-control" id="oldPO" name="oldPO" placeholder="123456789">
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
        <label class="control-label col-sm-2" for="typePO">Type</label>
        <select class="form-select form-select-lg mb-3" style="background-color:AliceBlue;" aria-label=".form-select-lg example" id="typePO" name="typePO">
          <option selected value="Hardware">Hardware</option>
          <option value="Software">Software</option>
        </select>
      </div>
      <div class="col">
        <label class="control-label col-sm-2" for="desc">Description</label>
        <input type="text" style="background-color:AliceBlue;" class="form-control" id="desc" name="desc" placeholder="AMC PO of Ruggest Server">
      </div>
      <div class="col">
        <label class="control-label col-sm-2" for="price">Price</label>
        <input type="text" style="background-color:AliceBlue;" class="form-control" id="price" name="price" placeholder="digits in rupee">
      </div>
    </div>
    <br>
    <div class="row g-3">
      <div class="col">
        <label class="control-label col-sm-2" for="startdate">Start Date:</label>
        <input type="date" id="startdate" name="startdate" style="background-color:AliceBlue;">
      </div>
      <div class="col">
        <label class="control-label col-sm-2" for="enddate">End Date:</label>
        <input type="date" id="enddate" name="enddate" style="background-color:AliceBlue;">
      </div>
    </div>
    <br>
    <!--div class="row g-3">
      <div class="col">
        <label class="control-label" for="enddate">PM (Per Quarter):</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PM1" name="PM1" value="True">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PM2" name="PM2" value="True">
          <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PM3" name="PM3" value="True">
          <label class="form-check-label" for="inlineCheckbox2">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="PM4" name="PM4" value="True">
          <label class="form-check-label" for="inlineCheckbox2">4</label>
        </div>
      </div>
      <div class="col">
        <label class="control-label" for="enddate">Billing Status (Per Quarter):</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="BC1" name="BC1" value="True">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="BC2" name="BC2" value="True">
          <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="BC3" name="BC3" value="True">
          <label class="form-check-label" for="inlineCheckbox2">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="BC4" name="BC4" value="True">
          <label class="form-check-label" for="inlineCheckbox2">4</label>
        </div>
      </div>
      </div-->
      <br>
      <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
{% endblock body %}